# Copyright 2022 University of California, Riverside
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# SPDX-License-Identifier: Apache-2.0

name = "Simple two node";

nfs = (
    {
        id = 1;
        name = "frontendservice";
        tenant_id: 0;
        n_threads = 32;

        params = {
            memory_mb = 0;
            sleep_ns = 0;
            compute = 0;
        };

        node = 0;
        // 0 for passive receive, 1 for active generate
        mode = 0;
    },
    {
        id = 2;
        name = "currencyservice";
        tenant_id: 0;

        n_threads = 32;

        params = {
            memory_mb = 0;
            sleep_ns = 0;
            compute = 0;
        };

        node = 1;
        mode = 0;
    }
);

routes = (
    {
        id = 1;
        name = "Route 1";

        hops = [1, 2, 1, 2, 1];
    },
    {
        id = 2;
        name = "Route 2";

        hops = [1, 2, 1];
    },
    {
        id = 3;
        name = "Route 3";

        hops = [1];
    },
    {
        id = 4;
        name = "Route 4";

        hops = [2, 1];
    },
    {
        id = 5;
        name = "Route 5";

        hops = [1, 1, 1, 2, 2, 1];
    }
);

nodes = (
    {
        id = 0;
        hostname = "everest-1";
        dpu_hostname = "dpu-1";

        ip_address = "192.168.10.61";
        dpu_ip_addr = "192.168.10.42"
        port = 8084;

        rdma_device = "mlx5_0";
        comch_server_device = "0000:03:00.0";
        comch_client_device = "0000:d8:00.0";
        comch_client_rep_device = "0000:d8:00.0";
        // RDMA device index
        sgid_idx = 3;
        mode = 2;
        // 0 for not connect ingress, 1 for connect to ingress
        receive_req = 0;
        mm_ip = "192.168.10.61";
        mm_port = 8087;
    },
    {
        id = 1;
        hostname = "flashstack-9";
        dpu_hostname = "dpu-3";

        ip_address = "192.168.10.65";
        dpu_ip_addr = "192.168.10.48";
        port = 8084;

        rdma_device = "mlx5_0";
        comch_server_device = "0000:03:00.0";
        comch_client_device = "0000:04:00.0";
        comch_client_rep_device = "0000:04:00.0";

        // RDMA device index
        sgid_idx = 3;
        mode = 2;
        // 0 for not connect ingress, 1 for connect to ingress
        receive_req = 0;
        mm_ip = "192.168.10.65";
        mm_port = 8086;
    }

);

// single tenant
tenants = (
    {
        id = 0;
        weight = 5;
        routes = [1, 2, 3, 4, 5];
    }
);

memory_manager = {
    local_mempool_size = 20000;
    port = 8086;
    // 1 for mm and gateway on different host, 0 for same
    ip = "192.168.10.63";
    device = "mlx5_0";
    is_remote_memory = 0;
};

rdma_settings = {
    // 1: use rdma 0: use tcp socket
    use_rdma = 0;
    // 1: use one-side 0: ues_two-side
    use_one_side = 0;
    n_init_task = 8000;
    n_init_recv_req = 8000;
    tenant_expt = 0;
    msg_sz = 1024;
    n_msg = 2000000;
    ngx_ip = "192.168.10.63";
    // default ngx id
    // only support one ngx worker now
    ngx_id = 0;
    json_path = "cfg/multi-tenancy-expt.json";
    is_dummy_nf = 1;
};
