# Copyright 2025 University of California, Riverside
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# SPDX-License-Identifier: Apache-2.0

name = "three tenants";

nfs = (
    {
        id = 1;
        name = "NF 1";
        tenant_id: 0;

        n_threads = 2;

        params = {
            memory_mb = 1;
            sleep_ns = 15;
            compute = 1000;
        };

        node = 0;
        mode = 0;
    },
    {
        id = 2;
        name = "NF 2";
        tenant_id: 1;

        n_threads = 1;

        params = {
            memory_mb = 2;
            sleep_ns = 20;
            compute = 500;
        };

        node = 0;
        mode = 0;
    },
    {
        id = 3;
        name = "NF 3";
        tenant_id: 2;

        n_threads = 8;

        params = {
            memory_mb = 3;
            sleep_ns = 5;
            compute = 250;
        };

        node = 0;
        mode = 0;
    },
    {
        id = 4;
        name = "NF 4";
        tenant_id: 0;

        n_threads = 4;

        params = {
            memory_mb = 4;
            sleep_ns = 10;
            compute = 125;
        };

        node = 1;
        mode = 0;
    },
    {
        id = 5;
        name = "NF 5";
        tenant_id: 1;

        n_threads = 4;

        params = {
            memory_mb = 4;
            sleep_ns = 10;
            compute = 125;
        };

        node = 1;
        mode = 0;
    },
    {
        id = 6;
        name = "NF 6";
        tenant_id: 2;

        n_threads = 4;

        params = {
            memory_mb = 4;
            sleep_ns = 10;
            compute = 125;
        };

        node = 1;
        mode = 0;
    }
);

routes = (
    {
        id = 1;
        name = "Route 1";

        hops = [1, 4, 1];
    },
    {
        id = 2;
        name = "Route 2";

        hops = [2, 5, 2];
    },
    {
        id = 3;
        name = "Route 3";

        hops = [3, 6, 3];
    }
);


nodes = (
    {
        id = 0;
        hostname = "everest-1";

        ip_address = "192.168.10.61";
        dpu_hostname = "dpu-1";
        port = 8084;

        rdma_device = "mlx5_0";
        comch_server_device = "mlx5_0";
        comch_client_device = "mlx5_0";
        comch_client_rep_device = "test";
        // RDMA device index
        sgid_idx = 5;
        mode = 1;
        // 0 for not connect ingress, 1 for connect to ingress
        receive_req = 0;
        mm_ip = "192.168.10.61";
        mm_port = 8087;
    },
    {
        id = 1;
        hostname = "everest-2";
        dpu_hostname = "dpu-3";

        ip_address = "192.168.10.63";
        port = 8084;

        rdma_device = "mlx5_0";
        comch_server_device = "mlx5_0";
        comch_client_device = "mlx5_0";
        comch_client_rep_device = "test";

        // RDMA device index
        sgid_idx = 3;
        mode = 1;
        // 0 for not connect ingress, 1 for connect to ingress
        receive_req = 0;
        mm_ip = "192.168.10.65";
        mm_port = 8086;
    }
);

tenants = (
    {
        id = 0;
        weight = 5;
        routes = [1];
    },
    {
        id = 1;
        weight = 1;
        routes = [2];
    },
    {
        id = 2;
        weight = 3;
        routes = [3];
    }
);

memory_manager = {
    local_mempool_size = 10000;
    port = 8086;
    ip = "192.168.10.61";
    device = "mlx5_0";
    // 1 for mm and gateway on different host, 0 for same
    is_remote_memory = 0;
};

rdma_settings = {
    // 1: use rdma 0: use tcp socket
    use_rdma = 1;
    // 1: use one-side 0: ues_two-side
    use_one_side = 0;
    // DOCA_rdma maximum is around 8000
    n_init_task = 8000;
    n_init_recv_req = 5;
    // control the settings in multi tenacy expt
    tenant_expt = 1;
    msg_sz = 1024;
    n_msg = 2000000;
    ngx_ip = "192.168.10.40";
    // default ngx id
    // only support one ngx worker now
    ngx_id = 1;
    json_path = "cfg/multi-tenancy-expt.json";
};
